<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Getting Started: Handling Form Submission</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" />
	<link th:href="@{/styles/nav.css}" rel="stylesheet" />
</head>

<body>
	<div class="flex-container">
		<nav class="main-navigation">
			<ul class="menu">
				<li><a href="/index">Home</a></li>
				<li><a href="/login">Admin</a></h3>
				</li>
			</ul>
		</nav>
		<div class="row rw-form">
			<h3>Functionality is not available</h3>

		</div>
		<div class="row rw-form">
			<p>Still in progress...</p>
		</div>
		<div class="row rw-form">
			<p><a href="/addMovie">Back</a></p>
		</div>

	</div>
</body>

</html>