<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Assignment 2</title>
</head>
<body>

<h1><span th:text="${bankName}"></span></h1>
<p>
<table>
    <thead>
        <tr class="headings">
            <th th:each="header: ${headers}" class="column-title" th:text="${header}" />
        </tr>
    </thead>

    <tbody>
        <tr class="even pointer" th:each="row: ${rows}" id="tablerow">
            <td th:each="header: ${headers}" th:text="${row.get(header)}" />
        </tr>
    </tbody>
</table>
</p>
</body>
</html>