<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Assignment 4</title>
</head>
<body>


<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Employee Name </th>
            <th> Employee Email </th>
            <th> Employee Location </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${employees.empty}">
            <td colspan="2"> No Employee Record Found </td>
        </tr>
        <tr th:each="employee : ${employees}">
            <td><span th:text="${employee.employeeId}"> Id </span></td>
            <td><span th:text="${employee.employeeName}"> Employee Name </span></td>
            <td><span th:text="${employee.employeeEmail}"> Employee Email </span></td>
            <td><span th:text="${employee.employeeLocation}"> Employee Location </span></td>
        </tr>
    </tbody>
</table>
</body>
</html>